/* Patternfly CSS places a "bg-login.jpg" as the background on this ".login-pf" class.
   This clashes with the "keycloak-bg.png' background defined on the body below.
   Therefore the Patternfly background must be set to none. */
.login-pf {
    background: none;
}

.login-pf body {
    background: #ffffff;
}

/*IE compatibility*/

.eea-logo{
   height: 45px;
}

.eu-flag{
    width: 60px;
    height: 38px;
}

@media (max-width: 1200px) {
  #kc-header .eu-flag{
      display: none;
  }
}

.pf-c-form__label-text{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}

.pf-c-form-control{
    font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,0.87);
    border: 1px solid #c7d5d8;
    border-width: 0 0 0.07rem;
    border-radius: 0;
    background-color: #FFFFFF;
    background-color: var(--pf-global--BackgroundColor--100);
    height: 60px;
    margin-top: 1.35rem;
    padding: 0 0 1.35em 0;
    box-shadow: inset 0 0 0 0 transparent;
}

.pf-c-form-control:-webkit-autofill, .pf-c-form-control:-webkit-autofill:hover, .pf-c-form-control:-webkit-autofill:focus{
    font-weight: 300;
    margin-top: 0;
    padding: 1.85em 0;
    box-shadow: inset 0 0 0 100px ivory;
    border-color: #e5dfa1;
}

textarea.pf-c-form-control {
    height: auto;
}

.pf-c-form-control:focus::placeholder{
    color: rgba(0,0,0,0.5);
}

.pf-c-form-control:focus:-ms-input-placeholder{
    color: rgba(0,0,0,0.5);
}

.pf-c-form-control:focus::-ms-input-placeholder{
    color: rgba(0,0,0,0.5);
}

.pf-c-form-control:hover, .pf-c-form-control:focus {
    margin-top: 1.35rem;
    padding: 0 0 1.35em 0;
    border-bottom-color: #c7d5d8;
    border-bottom-width: 1px;
    outline: none;
}

.pf-c-form-control[aria-invalid="true"] {
    border-bottom-color: #C9190B;
    border-bottom-color: var(--pf-global--danger-color--100);
    border-bottom-width: 2px;
    border-bottom-width: var(--pf-global--BorderWidth--md);
}

.pf-c-check__label, .pf-c-radio__label {
	font-size: 14px;
	font-size: var(--pf-global--FontSize--sm);
}

.pf-c-alert.pf-m-inline {
    margin-bottom: 0.5rem; /* default - IE compatibility */
    margin-bottom: var(--pf-global--spacer--sm);
    padding: 0.25rem;
    padding: var(--pf-global--spacer--xs);
    border: solid #ededed;
    border: solid var(--pf-global--BorderColor--300);
    border-width: 1px;
    border-width: var(--pf-c-alert--m-inline--BorderTopWidth) var(--pf-c-alert--m-inline--BorderRightWidth) var(--pf-c-alert--m-inline--BorderBottomWidth) var(--pf-c-alert--m-inline--BorderLeftWidth);
    display: -ms-flexbox;
    display: grid;
    -ms-grid-columns: max-content 1fr max-content;
    grid-template-columns:max-content 1fr max-content;
    grid-template-columns: var(--pf-c-alert--grid-template-columns);
    grid-template-rows: 1fr auto;
    grid-template-rows: var(--pf-c-alert--grid-template-rows);
}

.pf-c-alert.pf-m-inline::before {
    position: absolute;
    top: -1px;
    top: var(--pf-c-alert--m-inline--before--Top);
    bottom: -1px;
    bottom: var(--pf-c-alert--m-inline--before--Bottom);
    left: 0;
    width: 3px;
    width: var(--pf-c-alert--m-inline--before--Width);
    content: "";
    background-color: #FFFFFF;
    background-color: var(--pf-global--BackgroundColor--100);
}

.pf-c-alert.pf-m-inline.pf-m-success::before {
    background-color: #92D400;
    background-color: var(--pf-global--success-color--100);
}

.pf-c-alert.pf-m-inline.pf-m-danger::before {
    background-color: #C9190B;
    background-color: var(--pf-global--danger-color--100);
}

.pf-c-alert.pf-m-inline.pf-m-warning::before {
    background-color: #F0AB00;
    background-color: var(--pf-global--warning-color--100);
}

.pf-c-alert.pf-m-inline .pf-c-alert__icon {
    padding: 1rem 0.5rem 1rem 1rem;
    padding: var(--pf-c-alert--m-inline__icon--PaddingTop) var(--pf-c-alert--m-inline__icon--PaddingRight) var(--pf-c-alert--m-inline__icon--PaddingBottom) var(--pf-c-alert--m-inline__icon--PaddingLeft);
    font-size: 16px;
    font-size: var(--pf-c-alert--m-inline__icon--FontSize);
}

.pf-c-alert.pf-m-success .pf-c-alert__icon {
    color: #92D400;
    color: var(--pf-global--success-color--100);
}

.pf-c-alert.pf-m-success .pf-c-alert__title {
    color: #486B00;
    color: var(--pf-global--success-color--200);
}

.pf-c-alert.pf-m-danger .pf-c-alert__icon {
    color: #C9190B;
    color: var(--pf-global--danger-color--100);
}

.pf-c-alert.pf-m-danger .pf-c-alert__title {
    color: #A30000;
    color: var(--pf-global--danger-color--200);
}

.pf-c-alert.pf-m-warning .pf-c-alert__icon {
    color: #F0AB00;
    color: var(--pf-global--warning-color--100);
}

.pf-c-alert.pf-m-warning .pf-c-alert__title {
    color: #795600;
    color: var(--pf-global--warning-color--200);
}

.pf-c-alert__title {
    font-size: 14px; /* default - IE compatibility */
    font-size: var(--pf-global--FontSize--sm);
    padding: 5px 8px;
    padding: var(--pf-c-alert__title--PaddingTop) var(--pf-c-alert__title--PaddingRight) var(--pf-c-alert__title--PaddingBottom) var(--pf-c-alert__title--PaddingLeft);
}

.pf-c-button{
    padding:0.375rem 1rem;
    padding: var(--pf-global--spacer--form-element) var(--pf-global--spacer--md);
}

/* default - IE compatibility */
.pf-m-primary {
    color: #FFFFFF;
    background-color: #0066CC;
    background-color: var(--pf-global--primary-color--100);
}

/* default - IE compatibility */
.pf-m-primary:hover {
    background-color: #004080;
    background-color: var(--pf-global--primary-color--200);
}

/* default - IE compatibility */
.pf-c-button.pf-m-control {
    border: solid 1px;
    border: solid var(--pf-global--BorderWidth--sm);
    border-color: rgba(230, 230, 230, 0.5);
}
/*End of IE compatibility*/
h1#kc-page-title {
    border-bottom: 0.3rem solid #C7D5D8;
    padding: 1.2em 1em;
    margin: 0;
    text-align: left;
    font-size: 1.15rem;
    font-weight: 500;
}

h2#kc-page-title-two {
    padding: 1.2em 1em;
    margin: 0;
    font-size: 0.85rem;
    font-weight: 500;
}

#kc-title {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     line-height: 1.2;
     font-weight: 600;
     margin-bottom: 1em;
}

#kc-locale ul {
    background-color: #FFF;
    background-color: var(--pf-global--BackgroundColor--100);
    display: none;
    top: 20px;
    min-width: 100px;
    padding: 0;
}

#kc-locale-dropdown{
    display: inline-block;
}

#kc-locale-dropdown:hover ul {
    display:block;
}

/* IE compatibility */
#kc-locale-dropdown a {
    color: #6A6E73;
    color: var(--pf-global--Color--200);
    text-align: right;
    font-size: 14px;
    font-size: var(--pf-global--FontSize--sm);
}

/* IE compatibility */
a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
    margin-left: var(--pf-global--spacer--xs)
}

.login-pf .container {
    padding-top: 40px;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

#kc-header {
    max-width: 1400px;
    margin: 0 auto;
}

#kc-header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 10px 0;
    width: 100%!important;
}

#kc-header {
    margin-bottom: 0;
}

#kc-content {
    width: 100%;
}

#kc-attempted-username {
    font-size: 20px;
    font-family: inherit;
    font-weight: normal;
    padding-right: 10px;
}

#kc-username {
    text-align: center;
    margin-bottom: -10px;
    padding: 1.2em 1em;
    border-bottom: 0.07142857rem solid #edf1f2;
}

#kc-webauthn-settings-form {
    padding-top: 8px;
}

#kc-form-webauthn .select-auth-box-parent {
    pointer-events: none;
}

#kc-form-webauthn .select-auth-box-desc {
    color: var(--pf-global--palette--black-600);
}

#kc-form-webauthn .select-auth-box-headline {
    color: var(--pf-global--Color--300);
}

#kc-form-webauthn .select-auth-box-icon {
    flex: 0 0 3em;
}

#kc-form-webauthn .select-auth-box-icon-properties {
    margin-top: 10px;
    font-size: 1.8em;
}

#kc-form-webauthn .pf-l-stack__item {
    margin: -1px 0;
}

#kc-form-wrapper {
    font-size: 1rem;
    padding-top: 1rem;
}

#kc-info {
    margin: 0 -40px -30px;
}

#kc-info-wrapper {
    font-size: 13px;
    padding: 15px 35px;
    background-color: #F0F0F0;
}

#kc-form-options {
    padding: 0 1em;
}

.backtoLogin {
    margin-bottom: 1em;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: rgba(0,0,0,0.87);
}

#kc-form-options .checkbox input[type=checkbox] {
    margin: 8px 0 0;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 0;
}

/* TOTP */

.subtitle {
    text-align: right;
    margin-top: 30px;
    color: #909090;
}

.required {
    color: #A30000; /* default - IE compatibility */
    color: var(--pf-global--danger-color--200);
}

ol#kc-totp-settings {
    margin: 0;
    padding-left: 20px;
}

ul#kc-totp-supported-apps {
    margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
    max-width:150px;
    max-height:150px;
}

#kc-totp-secret-key {
    background-color: #fff;
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */
.kc-social-links {
    margin-top: 20px;
}

.kc-social-provider-logo {
    font-size: 23px;
    width: 30px;
    height: 25px;
    float: left;
}

.kc-social-gray {
    color: #737679; /* default - IE compatibility */
    color: var(--pf-global--Color--200);
}

.kc-social-item {
    margin-bottom: 0.5rem; /* default - IE compatibility */
    margin-bottom: var(--pf-global--spacer--sm);
    font-size: 15px;
    text-align: center;
}

.kc-social-provider-name {
    position: relative;
    top: 3px;
}

.kc-social-icon-text {
    left: -15px;
}

.kc-social-grid {
    display:grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-column-end: span 6;
    --pf-l-grid__item--GridColumnEnd: span 6;
}

.kc-social-grid .kc-social-icon-text {
    left: -10px;
}

.kc-login-tooltip {
    position: relative;
    display: inline-block;
}

.kc-social-section {
    text-align: center;
}

.kc-social-section hr{
    margin-bottom: 0;
}

hr {
    margin-top: 0;
}

.kc-login-tooltip .kc-tooltip-text{
    top:-3px;
    left:160%;
    background-color: black;
    visibility: hidden;
    color: #fff;

    min-width:130px;
    text-align: center;
    border-radius: 2px;
    box-shadow:0 1px 8px rgba(0,0,0,0.6);
    padding: 5px;

    position: absolute;
    opacity:0;
    transition:opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
    visibility: visible;
    opacity:0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

@media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
    }
}

@media (max-width: 767px) {

    #kc-form {
        float: none;
    }

    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #kc-locale {
        position: absolute;
        width: 200px;
        top: 20px;
        right: 20px;
        text-align: right;
        z-index: 9999;
    }
}

@media (min-height: 646px) {
    #kc-container-wrapper {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    #kc-container-wrapper {
        padding-top: 50px;
        top: 20%;
    }
}

.card-pf form.form-actions .btn {
    float: right;
    margin-left: 10px;
}

#kc-container-buttons {
    border-top: 0.07142857rem solid #edf1f2;
}

.kc-containerButtonMargin{
    margin-top: 2em;
}

#kc-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em;
}

#kc-buttons-tryAnotherWay {
    border-bottom: 0.07142857rem solid #edf1f2;
    margin-bottom: 1em;
}

#kc-form-buttons .button {
    margin-left: 1.25em;
}

.ui.button:hover .icon {
  opacity: 0.8;
}

svg.circled {
    height: 42px !important;
    padding: 4px;
    border: 2px solid;
    border-radius: 50px;
    opacity: 0.8;
}

.right.button {
    color: #826a6a;
    margin: 0em 0.42857143em 0em -0.21428571em;
}

.right.button:hover,
.right.button:focus,
.right.button:active {
    color: #826a6a;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
    border-radius: 50px;
    margin-left: 0;
}

.pf-c-button.pf-m-primary {
    color: #004b87;
    background-color: transparent;
    padding: 0;
    margin: 0em 0.42857143em 0em -0.21428571em;
}

.pf-c-button.pf-m-primary:hover,
.pf-c-button.pf-m-primary:focus,
.pf-c-button.pf-m-primary:active {
    color: #004b87;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
    border-radius: 50px;
    margin-left: 0;
}

.pf-c-button.pf-m-block{
  width:auto;
}

.form-group {
  padding: 0 1em;
  margin-bottom: 15px;
}

.form-group .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  padding: 0;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.login-pf-page {
  padding-top:0;
}

.login-pf-page .login-pf-brand {
    margin-top: 20px;
    max-width: 360px;
    width: 40%;
}

.login-pf-page .login-pf-settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}

#kc-form-forgotPassword p, #kc-form-forgotPassword span {
     padding: 0;
     margin-bottom: 0;
}

#kc-form-forgotPassword a, #kc-registration a, #kc-form-tryAnotherWay a {
  color: #004073;
  font-size: 0.95rem;
  font-weight: 300;
}

#kc-registration span {
   color: rgba(0,0,0,0.87);
}

/* Internet Explorer 11 compatibility workaround for select-authenticator screen */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .select-auth-box-parent {
        border-top: 1px solid #f0f0f0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        cursor: pointer;
    }

    .select-auth-box-headline {
        font-size: 16px;
        color: #06c;
        font-weight: bold;
    }

    .select-auth-box-desc {
        font-size: 14px;
    }

    .pf-l-stack {
        flex-basis: 100%;
    }
}
/* End of IE11 workaround for select-authenticator screen */

.select-auth-box-arrow{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.select-auth-box-icon{
    display: flex;
    flex: 0 0 2em;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 3rem;
}

.select-auth-box-parent{
    border-top: 1px solid var(--pf-global--palette--black-200);
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.select-auth-box-parent:hover{
    background-color: #f7f8f8;
}

.select-auth-container {
    padding-bottom: 0px !important;
}

.select-auth-box-headline {
    font-size: var(--pf-global--FontSize--md);
    color: var(--pf-global--primary-color--100);
    font-weight: bold;
}

.select-auth-box-desc {
    font-size: var(--pf-global--FontSize--sm);
}

.select-auth-box-paragraph {
    text-align: center;
    font-size: var(--pf-global--FontSize--md);
    margin-bottom: 5px;
}

.content-area {
  padding: 1.125rem 0 !important;
  margin-bottom: 1em;
}

.card-pf {
    margin: 0 auto;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
    border: 1px solid #c7d5d8;
    padding: 0 !important;
    max-width: 376px;
}

#kc-social-providers {
    margin: 0 auto;
    border: 1px solid #c7d5d8;
    padding: 1.2rem 0;
    max-width: 376px;
}

div#kc-social-providers {
  margin-top: 1.2rem;
}

@media (min-width: 768px) {
    .login-pf-page .login-pf-header {
        margin-bottom: 0;
    }
}

/*phone*/
@media (max-width: 767px) {
    .kc-social-grid {
        grid-column-end: 12;
        --pf-l-grid__item--GridColumnEnd: span 12;
    }

    .kc-social-grid .kc-social-icon-text {
        left: -15px;
    }
}

.login-pf-page .login-pf-signup {
    font-size: 15px;
    color: #72767b;
}

#kc-content-wrapper {
   font-size: 1rem;
   padding-top: 1rem;
}

#kc-content-wrapper .row {
    margin-left: 0;
    margin-right: 0;
}

.login-pf-page.login-pf-page-accounts {
    margin-left: auto;
    margin-right: auto;
}

.login-pf-page .btn-primary {
    margin-top: 0;
}

.login-pf-page .list-view-pf .list-group-item {
    border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
    width: 100%;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
    margin-bottom: 0px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

#kc-back {
    margin-top: 5px;
}

#kc-footer {
    display: block;
    padding: 1.125rem 0;
    margin-top: 1em;
}

#kc-social-providers h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
    border-bottom: 0.07142857rem solid #edf1f2;
    padding-bottom: 1em;
}

#kc-social-providers .kc-social-item {
  margin-bottom: 0;
}

.kc-footer-one a {
    color: #0051cc;
    font-weight: 300;
}

.kc-footer-one a:hover {
    color: #0065ff;
    text-decoration: underline;
}

.kc-footer-portal-footer {
    padding: 0 1em;
    border-top: 0.07142857rem solid #edf1f2;
}

.section-centered {
    padding: 1.125rem 0;
    max-width: 376px;
    margin-left: auto;
    margin-right: auto;
}

.section-header {
    font-weight: 600;
    margin: 0 0 0.83em 0;
    font-size: 1.25rem !important;
    line-height: 1.2;
}

.kc-footer-one .media-centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
}

.kc-footer-one ul.media-centered {
    list-style: disc;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 1.5em;
}

.colophon-section:first-child p {
  margin: 0;
}

i.icon {
    display: inline-block;
    opacity: 1;
    font-weight: 400;
    speak: none;
}

i.icon:before {
     margin: 0 0.3em;
}

.kc-footer-two a:hover{
    text-decoration: none;
}

.kc-footer-two .colophon-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.125rem 0;
}

.portal-colophon .europe-agency-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 12px;
    font-weight: 400;
}

.kc-footer-two .eu-section {
    border-top: 1px solid rgba(0,0,0,.11);
}

.kc-footer-two .eu-section span {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin: 0 1em;
}

.kc-footer-two .eea-software-info {
    border-top: 1px solid rgba(0,0,0,.11);
    font-size: 11px;
}

.kc-footer-two .eea-software-info a {
    color: #274357;
    font-weight: 700;
}

.kc-footer-two .eea-software-info a:hover {
    color: #274357;
}

.kc-footer-two .colophon-links {
    display: inline-block;
    margin: 0 1em 0.75em !important;
}

@media (max-width: 1023px) {
    .portal-colophon .colophon-links {
        width: 100%;
        text-align: center;
    }
}
